.container {
	width: 400px;
	min-height: 100px;
	overflow-y: auto;
	padding: 10px 5px;
}

.row {
	height: 28px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	border: 1px dashed #eee;
}

.item__name {
	width: 50%;
	font-size: 13px;
	font-style: italic;
	color: red;
}

.item__value {
	width: 50%;
	font-size: 15px;
	font-weight: bold;
}

.btn {
	width: 100%;
	margin-bottom: 8px;
	height: 32px;
	background-color: green;
	color: #fff;
	font-size: 16px;
	border-radius: 20px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn__submit {
	background-color: yellow;
	color: #333;
}

.blackitem {
	margin-right: 8px;
}